<h1>{{title}}</h1>
<section class="row">
    {{#each employers}}
    <div class="card col 4">
        <div class="card-body">
            <h5 class="card-tittle">{{this.name}}</h5>
            <p class="card-text">{{this.location}}</p>
        </div>
    {{/each}}
</section>